#include "c:\program files (x86)\national instruments\cvi2013\sdk\include\winver.h"


2 24 "c:\\Users\\daparker\\Documents\\David - NI\\CVI Projects\\Watts Up Series\\cvibuild.WUS\\Debug\\manifest.xml"


STRINGTABLE DISCARDABLE
BEGIN
  65535  ""
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x1L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "NI\0"
            VALUE "FileDescription", "WUS (Debug x86)\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "WUS\0"
            VALUE "LegalCopyright", "Copyright © NI 2014\0"
            VALUE "OriginalFilename", "WUS.dll\0"
            VALUE "ProductName", "NI WUS\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4b0
    END
END

CVIDLLexports CVIDLLprototypes
{
   "long WUS_CheckStatus(unsigned long vi);"
   "\n",
   "long WUS_Close(unsigned long vi);"
   "\n",
   "long WUS_DefaultInstrSetup(unsigned long instrSession);"
   "\n",
   "long WUS_ErrorMessage(unsigned long vi, long statusCode, char *errorMessage);"
   "\n",
   "long WUS_ErrorQuery(unsigned long vi, long *errorCode, char *errorMessage);"
   "\n",
   "long WUS_Initialize(char *VISAResourceName, unsigned short IDQuery, unsigned short reset, unsigned long *vi);"
   "\n",
   "long WUS_Reset(unsigned long vi);"
   "\n",
   "long WUS_RevisionQuery(unsigned long vi, char *instrumentDriverRevision, char *instrumentFirmwareRevision);"
   "\n",
   "long WUS_SelfTest(unsigned long vi, long *selfTestResultCode, char *selfTestResultMessage);"
   "\n",
   "long WUS_Wait(unsigned long vi);"
   "\n",
   "\0"
}
